<h1>Add new project</h1>
<form action="/user/create" method="post" class="project-form">
	<input type="text" placeholder="Project name"/>
	<select name="" id="">
		<option value="-1">Users</option>
		<option value="">Nik Ska</option>
	</select>
	<button type="submit">Submit</button>
</form>