<!--
<template name="prototypesList">
    <input type="search" />
    <a href="">Show deleted</a>

    <h3 class="mb16 mt24">All UI prototypes</h3>

<template name="prototypesList">
    <div class="f-row mb32">
        <input type="search" placeholder="Search" class="f-col-11 m-h32 mr32" />
        <a href="" class="f-col ma">Show deleted</a>
    </div>

    <h3 class="mb16">All UI prototypes</h3>

   <ul class="prototypes-list">
       <li class="item f-row" ng-repeat="project in projects">
         {{project}}
       </li>
      {{#each projects}}
        {{> prototypeItem}}
      {{/each}}
    </ul>

</template> -->
