<!-- <template name="prototypeItem">
  <li class="item f-row" ng-repeat="project in projects">
    {{project}}
    <span class="item-name f-stretch">
        <a href="{{link}}">{{name}}</a>
        {{#if isFavorite}}
        <button type="button" name="favorite-remove" class="btn m-link favorite-remove ml12">&#9733;</button>
        {{else}}
        <button type="button" name="favorite-add" class="btn m-link favorite-add ml12">&#9734;</button>
        {{/if}}
    </span>
      <span class="item-actions">
          <button type="button" name="edit" class="edit">
              🖉
          </button>
          {{#if removed}}
          <button type="button" name="restore" class="restore">
              ♻
          </button>
          {{else}}
          <button type="button" name="remove" class="remove mr12">
              🗑
          </button>
          {{/if}}

          <span>{{removed}}</span>
      </span>

</li>
</template> -->
