<form action="/user/create" method="post">
	<input type="text" placeholder="User name"/>
	<input type="text" placeholder="Project"/>
	<input type="email" placeholder="email"/>
	<input type="password"  placeholder="password"/>
</form>